.card-box {
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 18px;
}

.card-box:hover {
    position: relative;
    top: -4px;
}
.box-title {
    padding: 10px;
}
.card-name {
    font-size: 20px;
    padding: 0 15px;
    color: black;
}
.box-name {
    background-color: rgba(104, 247, 140, 0.548);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-post1 {
    font-size: 15px;
    padding-top: 10px !important;
    color: black;
    padding: 0 10px;
    margin-bottom: 0px !important;
}

/*หน้าbook*/

.comming {
    margin-bottom: 100px;
}
.boxstudy{
    background-color: #21dd9e31;
    width: 1100px;
    height: 2870px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .textbook1 {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #1a237e;
    border-radius: 10px 10px 0 0;
}
.textbook2 {
    padding: 20px;
    color: white;
    background-color: #1a227ed5;
   /* background-image: linear-gradient(right, #3bc982, #1a227ed5) ;*/
}
.bot1 {
    padding: 20px;
    color: #000000;
}
.textbook3 {
    padding: 20px;
    color: white;
    background-color: #1a227ed5;
   /* background-image: linear-gradient(right, #3bc982, #3bc982b7, #1a227ed5) ;*/
}
.bot2 {
    padding: 20px;
    color: #000000;
}
